body{
    background-color: #272639;
} 
.wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 3rem;
}
.buttom{
    border: 2px solid cyan;
    width: 400px;
    height: 400px;
    color: white;
    font-size: 2rem;
    
}
#inputCity{
    border: 2px solid white;
   padding:1rem 3.2rem;
   background-color: rgb(67, 41, 92);
   font-size: 1.5rem;
   border-radius: 12px ;
   background: none;
   color: white;  
}
button{
    display: block;
    margin: 12px auto;
    padding: 1rem 1.5rem;
    background-color: rgb(7, 7, 39);
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: bold;
}
#name{
    color: #272639;
    text-align: center;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    background-color: cyan;
    padding-bottom: 5px;
    margin-bottom: 1.5rem;
}
.details{
    line-height: 3rem;
    padding-left: 1rem;
}
span{
    color: bisque;
    
}